/* Ensure the body and container take up the full width */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.app-container {
    padding: 20px;
  }

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20px;
    padding: 40px;
    justify-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 250px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    padding: 20px;
}

.grid-item img {
    width: 100%;
    height: auto;
    max-height: 350px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 15px;
}

.grid-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.details h3 {
    font-size: 18px;
    margin: 10px 0;
    font-weight: bold;
}

.details p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}

.more-options {
    font-size: 24px;
    color: #888;
    margin-top: 10px;
    cursor: pointer;
}

.search-bar {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 30px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }

  .search-bar:focus {
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

header {
    padding: 20px;
    text-align: center;
    background-color: #20232a;
    color: white;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }